// ------ Var ------- 

$font-base: arial, sans-serif;
$font-base-size: 1em;
$font-base-color: #4a4a4a;
$font-blue: #4286f4;


$font-titolo-size: 2em;

$line-height: 1em;

$sfondoColore: white;

$contentSize: 90%;

// ------ mixin  ------- 
@mixin fontNormaleG($misure: 1) {
	font-family: $font-base;
	font-size: $font-base-size * $misure;
	line-height: $line-height;
	color: $font-base-color;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

@mixin fontTitoloG($misure: 1) {
	font-family: $font-base;
	font-size: $font-titolo-size * $misure;
	line-height: $font-titolo-size * 0.7;
	color: $font-base-color;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

@mixin flex {
	position: relative;
	display: -webkit-flex;
	display: flex;
}

@mixin flexCenter {
	display: -webkit-flex;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	position: relative;
}

@mixin square($x) {
	width: $x;
	padding-bottom: $x;
}

// ------  Content  ------ 

@import 'reset';
@import 'bootstrap';
@import 'layout';
@import 'content';